html{
	user-select:none;
	cursor:url("../images/other/cursor.png"),auto;
}
.row{
	display:flex;
}
.tile{
	width:30px;
	height:30px;
	border:0px solid #000000;
	background-color:#ffffff;
}
.credits-0{
	color:#454545;
}
.credits-1{
	color:#7d7d7d;
}
.credits-2{
	color:#636363;
}
blockquote{
	margin-top:1024px;
}